[data-section="home-part-2"] {
    background-color: black;
    overflow: hidden;
}

div.container-home-part-2{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    align-self: stretch;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    grid-template-areas:
            ". title-1 ."
            ". title-2 ."
            ". title-3 .";
}

:is(.title-1, .title-2, .title-3) h2 {
    font-size: 85px;
    color: white;
    padding-left: 20vw;
    text-indent: -20vw;
    margin-bottom: 6.25vw;
}

div.title-1{
    grid-area: title-1;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
    "title-part1 stamp"
}

div.title-1 .title-1.part-1{
    grid-area: title-part1;
    align-self: center;
}

div.title-1 img.stamp{
    grid-area: stamp;
    place-self: start;
}

div.title-2{
    grid-area: title-2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title-2-part-1";
}

div.title-2 .title-2.part-1{

    grid-area: title-2-part-1;
    place-self: center;
}

div.title-3{
    grid-area: title-3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title-3-part-1";
}

div.title-3 .title-3.part-1{
    grid-area: title-3-part-1;
    align-self: center;
    justify-self: end;
}