.main-content{
    grid-area: main-content;
    display: grid;
    place-self: stretch;
    grid-template: 1fr / 1fr;
    padding: 0 100px;
    align-items: start;
}

.back-color-effect.back-color{
    background-color: black;
    -webkit-animation: underlineEffet 2s ease 1s forwards;
    -o-animation: underlineEffet 2s ease 1s forwards;
    animation: underlineEffet 2s ease 1s forwards;
}

@keyframes underlineEffet {
    to { background-color: #C00E0E }
}

.bespoken-solution .sub-section-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(2, 0.2fr);
}

div.footer{

    position: fixed;
    bottom: 0;
    width: 100%;
}