.craft-it .container{
    display: grid;
    place-content: stretch;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
}

.container.with-console .content{
    grid-area: content;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "console" "content";
}

.sub-section .container{
    opacity: 0.2;
}

.sub-section .main-content > p{
    width: 50%;
}

.sub-section-animated .main-content > *:not(.list):not(:first-child){
    -webkit-animation: back-red 1s ease 1s forwards;
    -o-animation: back-red 1s ease 1s forwards;
    animation: back-red 1s ease 1s forwards;
}

@keyframes back-red {
    to {
        background-color: #C00E0E;
        color: white;
    }
}

.sub-section .place-left{
    justify-items: start;
}

.sub-section .place-right{
    justify-items: end;
}

.main-content{
    display: grid;
    place-self: stretch;
    padding: 0 100px;
    place-items: center;
    position: relative;
}

.craft-it-vision .sub-section-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    /*grid-template-rows: 2fr repeat(8,1fr);*/
}

.main-content p, .main-content h2, .main-content h3 {
    font-size: 3vw;
    text-align: justify;
}

ul.list {
    list-style: none;
    background-color: white;
    padding-inline-start: unset;
}


ul.list li {
    font-size: 2vw;
}

.sub-section-animated ul.list li{
    list-style: none;
    background-color: white;
    -webkit-animation: back-black 2s ease forwards;
    -o-animation: back-black-red 2s ease forwards;
    animation: back-black 2s ease forwards;
}

@keyframes back-black {
    to {
        background-color: black;
        color: white;
    }
}

ul.list li::before {
    content: "";
    background-image: url(../images/favicon.png);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    /*margin-right: 0.2rem;*/
}

/*li .black-back-color{*/
/*    background-color: black;*/
/*}*/
/*ul.list li .red-back-color{ width: 0; background-color: #C00E0E;}*/

.sub-section-animated ul.list li .red-back-color{
    width: 0;
    -webkit-animation: underlineEffet 1s ease 1s forwards;
    -o-animation: underlineEffet 1s ease 1s forwards;
    animation: underlineEffet 1s ease 1s forwards;
}

@keyframes underlineEffet {
    to { width: 100%;}
}