.craft-it .container{
    display: grid;
    place-content: stretch;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
}

.main-content{
    display: grid;
    place-self: stretch;
    padding: 0 100px;
    place-items: center;
    opacity: 0.2;
    position: relative;
}

/* Typing effect */
.typewriter .message.credit-lens {
    animation: typing 1.5s steps(15, end) forwards;
    animation-delay: 2s;
}
