@import "section.css";
@import "menu.css";
@import "button.css";
@import "dots.css";
@import "home/logo-effects.css";
@import "typing-effect.css";
@import "tools/text-block.css";
@import "tools/animation.css";

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/tt_font.otf);
}

@font-face {
    font-family: madeFutureXHeader;
    src: url(../fonts/MADE_Future_X_HEADER_Regular.otf);
}

body {
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    align-self: stretch;
}

.hide{
    display: none;
}

.colorBlack{
    color: black !important;
}

body, html { height: 100%; width: 100%; }

* { font-family:myFirstFont; }

div.container {
    padding: 0;
    width: 100%;
}

/*header */
header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000000;
}

header .header-content{
    height: 100%;
    display: grid;
    place-content: center;
    place-self: stretch;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: "header-logo header-menu";
}

div.header-logo{
    grid-area: header-logo;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

div.header-title{
    grid-area: header-title;
    display: grid;
    place-content: center;
}

div.header-logo img.logo {
    width: 100%;
    position: relative;
}

div.header-menu{
    grid-area: header-menu;
    display: grid;
    place-content: center;
}
/*header */


div.footer{
    color: white;
    grid-area: footer;
    display: grid;
    background: black;
    grid-template-rows: 1fr 100px 5px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . sloganright"
    "sloganleft sloganleft sloganleft"
    "footerseparator footerseparator footerseparator"
    "footerendleft . footerendright";
}

div.footer-slogan-left{
    grid-area: sloganleft;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr;
    grid-column-gap: 10px;
    padding-left: 20px;
}

.footer-slogan-left img{
    height: 50px; width: 50px;
}

.dream-stamp, .draft-stamp, .craft-stamp {
    align-self: center;
    justify-self: start;
}

.dream, .draft, .craft{
    place-self: end;
}

.footer-slogan-right > *{
display: block;
}

div.footer-slogan-left *{
    font-family: madeFutureXHeader;
    font-size: 40px;
}

div.footer-slogan-right{
    grid-area: sloganright;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr auto;
}

div.footer-slogan-right .info-content{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25px, 0.1fr));
}

div.footer-separator{
    grid-area: footerseparator;
    border-bottom: 2px solid gray;
}
div.footer-end-left{
    grid-area: footerendleft;
    place-self: center;
}
div.footer-end-right{
    grid-area: footerendright;
    align-self: center;
    justify-self: end;
}

div.footer-end-right .buttons{
    padding-right: 15px;
}

div.footer-end-right .buttons a{
    color: unset;
    text-decoration: none;
}

div.footer-end-right .buttons i.fa {
    font-size: 20px;
}


/*Arrow scrolling*/
.btn-next-page{
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: fixed;
    bottom: 3%;
    left: 50%;
    z-index: 999999;
}

.btn-next-page .arrow-down
{
    display: block; margin:0 auto;
    opacity: 0;
    animation: jump .6s linear alternate infinite;
    animation-fill-mode: forwards;
}

.btn-next-page i.arrow-down{ font-size: 30px; color: white;}

@keyframes jump {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity:1; transform: translateY(10px);
    }
}
/*Arrow scrolling*/

.place-horizontal-contents *{
    display: inline-block;
}